<nav class="w-full flex text-xl p-5 px-20 gap-10 justify-between">
    <h2><a href="/">Home</a></h2>
    <h2 class="flex gap-10"><a href="/login">Login</a>
    <a href="/register">Sign Up</a></h2>
</nav>