<%- include('./partials/header')%>
<%- include('./partials/nav')%>

<form action="/register" method="post" class="w-[40%] mt-5 border border-gray-500 flex flex-col p-10 gap-5 m-auto rounded-3xl">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="text" placeholder="full name" name="fullname">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="text" placeholder="username" name="username">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="email" placeholder="example@gmail.com" name="email">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="password" placeholder="*******" name="password">
    <button class="p-3 text-2xl rounded-2xl bg-gray-900 text-gray-100">Sign Up</button>
    <p>Already have an Account? <a class="text-red-400" href="/login">Login</a></p>
</form>

<%- include('./partials/footer')%>