<%- include('./partials/header')%>

<a href="/profile" class="p-10 text-3xl"><i class="ri-arrow-left-line"></i></a>

<form action="/resetPassword/<%= user._id%>" method="post" class="w-[40%] mt-20 border border-gray-500 flex flex-col p-10 gap-5 m-auto rounded-3xl">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="password" placeholder="oldpassword" name="oldpassword">
    <input class="p-5 text-2xl rounded-2xl border border-gray-500" type="password" placeholder="newpassword" name="newpassword">
    <button class="p-3 text-2xl rounded-2xl bg-gray-900 text-gray-100">Reset Password</button>
</form>

<%- include('./partials/footer')%>